* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--main-color-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-color-bg: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  --link-color: rgba(255,255,255, .8);
  --link-color-hover: rgba(255,255,255, 1);
}
.tem_day{
  font-size: 50px;
}
